.list--container {
	width: 110px;
}

.list--title {
	margin-top: 5px;
	font-weight: bold;
}

.list--tasks {
	list-style-type: none;
	padding: 0;
}


.list--add {
  background: url(/tab_plus.svg) no-repeat top left;
  background-size: 30px 30px;
  fill: #cccccc;
  width: 30px;
  height:30px;

}

.list--header {
    display: flex;
    justify-content: space-between;
}

.form-inline {
	display: none;
  ;
}

.form-inline.add--complete, .form-inline.add--backlog, .form-inline.add--wip {
  display:block
} 

.placeholder {
  background: rgb(255,240,120);
  &:before {
    content: "Drop here";
    color: rgb(225,210,90);
  }
}

.kanbanBoard {
  display: flex;
  flex-direction: row;
  text-align: center;

}




/*from*/
.App {
  text-align: center;
  width: 60%;
  margin: 15px auto;
}

.container-drag {
  /*text-align: center;*/
}

.wip, .backlog, .complete {
  width: 250px;
  height: 100vh;
  background-color: #EEEEEE;
  border-right: 1px dotted;
}


.header {
  display: inline-block;
  margin: 0;
  padding: 0;
  background-color: #E0E0E0;
  width:100%;
}

.task-header {
  display: inline-block;
  background-color: skyblue;
  width:100%;
}

.complete {
  background-color: #9E9E9E;
  border-left: 1px dotted;
}

.draggable {
  width: 200px;
  height: 120px;
  margin: 5px auto;
  line-height: 5em;
}

