.list--container {
	width: 110px;
}

.list--title {
	margin-top: 5px;
	font-weight: bold;
}

.list--tasks {
	list-style-type: none;
	padding: 0;
}


.list--add {
  background: url(/tab_plus.svg) no-repeat top left;
  background-size: 30px 30px;
  fill: #cccccc;
  width: 30px;
  height:30px;

}

.list--header {
    display: flex;
    justify-content: space-between;

    min-width: 300px;
    flex-grow: 1;
}

.form-inline {
	display: none;
  ;
}

.form-inline.add--complete, .form-inline.add--backlog, .form-inline.add--wip {
  display:block
} 



.kanbanBoard {
  display: flex;
  flex-direction: row;
  text-align: center;

}




/*from*/
.App {
  text-align: center;
  width: 1040px;
  margin: 15px auto;
}

.container-drag {
  /*text-align: center;*/
}

.wip, .backlog, .complete {

  height: 100vh;
  background-color: #EEEEEE;
  flex-grow: 1;
}


.header {
  display: inline-block;
  margin: 0;
  padding: 0;
  
  width:100%;
}

.task-header {
  display: inline-block;
  background-color: skyblue;
  width:100%;
}

.complete {
  background-color: #9E9E9E;

}

.backlog {
  background-color: #E0E0E0;
}

.wip {

}

.draggable {
  width: 100%;
  border: 1px solid #cccccc;
  margin: 0px;
  line-height: 5em;
  display: flex;
}

input {
  width: 230px;
  padding: 28px;
  margin: 2px;
  font-size: 14px;
}

form {
  margin: 0;
  display: inline;
  width: 100%;
}

.redX {
  width: 15px;
  height: 15px;
  margin-left: -30px;
}

